## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np
# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,1,Faanui,PF,79.92,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,7,Praya,CV,82.94,few clouds,14.9215,-23.5087,LT Aparthotel
3,11,Labuhan,ID,79.45,overcast clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
4,13,Kimbe,PG,75.65,scattered clouds,-5.5502,150.1429,Kimbe Bay Hotel

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [131]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Barstow"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Angelo"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Crowley"]

In [132]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,1,Faanui,PF,79.92,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,7,Praya,CV,82.94,few clouds,14.9215,-23.5087,LT Aparthotel
3,11,Labuhan,ID,79.45,overcast clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
4,13,Kimbe,PG,75.65,scattered clouds,-5.5502,150.1429,Kimbe Bay Hotel
...,...,...,...,...,...,...,...,...
131,673,Kendari,ID,75.61,overcast clouds,-3.9450,122.4989,Hotel Wixel
132,679,Atbasar,KZ,75.22,scattered clouds,51.8000,68.3333,"The Ritz-Carlton, Astana"
133,683,Totskoye,RU,73.78,scattered clouds,52.5248,52.7623,Gostinitsa
134,698,Wewak,PG,80.80,overcast clouds,-3.5534,143.6268,In Wewak Boutique Hotel
135,704,Crowley,US,73.98,scattered clouds,30.2141,-92.3746,"Motel 6 Crowley, LA"

In [136]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
def lon_lat(city):
    return (city.to_numpy().tolist()[0][5],city.to_numpy().tolist()[0][6])
start =  lon_lat(vacation_start)
end =  lon_lat(vacation_end)
stop1 = lon_lat(vacation_stop1)
stop2 = lon_lat(vacation_stop2)
stop3 = lon_lat(vacation_stop3)

In [137]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
vacation_startend =\
    gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(vacation_startend)
fig

Figure(layout=FigureLayout(height='420px'))

In [138]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,269,Laguna,US,76.82,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,190,Barstow,US,82.49,clear sky,34.8986,-117.0228,"Motel 6 Barstow, CA"
2,580,San Angelo,US,78.94,overcast clouds,31.4638,-100.4370,"Motel 6 San Angelo, TX"
3,704,Crowley,US,73.98,scattered clouds,30.2141,-92.3746,"Motel 6 Crowley, LA"

In [139]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [142]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))